@font-face {
    font-family: courgette;
    src: url(fonts/Courgette-Regular.ttf);
}
@font-face {
    font-family: engagement;
    src: url(fonts/Engagement-Regular.ttf);
}
@font-face {
    font-family: oswald;
    src: url(fonts/Oswald-Regular.ttf);
}
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/material.woff2) format('woff2');
}
.tabs-content.carousel .carousel-item { height:auto; }
footer{
  text-align: center;
  color: #ccc;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
.sidenav .user-view {
    padding: 25px 32px 25px;
}
.btn-floating{
	position: fixed;
    right: 30px;
    bottom: 30px;
}
.cnt{
	text-align: center;
}
.just{text-align: justify;}
.right{text-align: right;}
.thimno{
	font-weight: bold;
	font-size: 22px;
	line-height: 10px;
}
.cnt .azul, .cnt .nblu{color: #003973; font-weight: bold;}
.nblu{font-size: 16px;}
.isbn{
	text-align: right;
	color: #ccc;
    font-size: x-small;
}
nav .brand-logo{
	font-size: 1.7rem;
}
.collection.with-header .collection-header {
    background-color: #f3f3f3;
 }
.home{
	background: url('../img/back_home.jpg') no-repeat center top;
	background-size: cover;
}
.dropdown-content{
	width: 250px !important;
}
.alfabetico{
  position: fixed;
  right: 20px;
  bottom: 10px;
  z-index: 9999999;
  background-color: #fff;
  width: 30px;
  height: auto;
  border-radius: 30px;
  text-align: center;
  border: 1px solid #ccc;
}
.nav-letra{
  font-size: 16px;
  border-bottom: 1px solid #ccc;
}
#myInput {
  background-image: url('../img/search_icon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 85%;
  font-size: 16px;
  padding:  0 0 0 45px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 12px;
  margin-top: 15px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}
.himno{
    background: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.sidenav .user-view .circle{margin:0 auto;}
.sidenav{
  background: url('../img/fondo_nav.jpg') no-repeat top right #fff;
  background-size: cover;
}